// ----- Шрифты
@font-face {
    font-family: 'Rubik-Light';
    src: url('../fonts/Rubik-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
  
@font-face {
    font-family: 'Rubik-Medium';
    src: url('../fonts/Rubik-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}